<!-- responds with a 200 status code (FAILED - 7)
   displays the genre's artists (FAILED - 8)
   displays the genre's songs (FAILED - 9)
   contains links to each artist's show page (FAILED - 10)
   contains links to each song's show page (FAILED - 11) -->
   <p>Genre: <%= @genre.name %> </p>
   <% @genre.artists.each do |artist| %>
    <p>Artist: <a href ="/artists/<%=artist.slug%>"> <%=artist.name %> </a></p>
    <% end %>

  <% @genre.songs.each do |song| %>
   <p>Song: <a href ="/songs/<%= song.slug %>"> <%= song.name %> </a></p>
   <% end %>
